@charset "UTF-8";

/* ---- 共通 ---- */

html {
  font-size: 62.5%;
  font-family: scandia-web, sans-serif;
  color: #707070;
  font-weight: 700;
  font-style: normal;
  box-sizing: border-box;
  background-color: #D6D6D6;
}

img {
  max-width: 100%;
}

h3 {
  font-family: vdl-logog, sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: m-plus-1p, sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* ---- ヘッダー ---- */

header {
  background-color: #ffeb00;
  height: 150px;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
header h1 {
  height: 100%;
}
header img {
  height: 100%;
}
header span {
  display: none;
}

/* ---- ビジュアル ---- */

/* #visual {
  position: relative;
  background-color: #fff;
  height: 620px;
  margin-bottom: 110px;
  min-width: 1000px;
  box-shadow: 0 10px 10px rgba(200, 200, 200, .5) ;
}
nav {
  display: flex;
  justify-content: center;
  column-gap: 10%;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 1920px;
  padding: 0 2%;
  height: 100px;
  border-bottom: dashed 4px #707070;
  margin: 0 auto;
}
nav a {
  max-width: 100%;
  display: block;
}
nav a img {
  height: 100%;
}
#logo {
  height: 40%;
  margin: 60px auto 0;
  display: block;
}
.copy_container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0%);
  width: 100%;
  max-width: 1920px;
  margin-bottom: 1%;
}
#prominence {
  width: 40%;
  height: auto;
  padding-left: 3vw;
}
#impressive {
  width: 40%;
  height: auto;
  padding-right: 3vw;
} */

/* ---- プロフィール ---- */

#profile {
  width: 75%;
  max-width: 1150px;
  min-width: 1000px;
  margin: 110px auto 110px;
  box-shadow: 0 10px 10px rgba(200, 200, 200, .5);
}

.section_header {
  height: 60px;
  padding-top: 10px;
  background-color: #ffeb00;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px 20px 0 0;
}

.section_container {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 20px 20px;
  padding: 68px 0 108px 0;
}
.img_container {
  width: 50%;
  padding: 46px 80px 85px 123px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#profile_img {
  border-radius: 64px;
  box-shadow: 11px 10px 8px rgba(175, 175, 172, 0.36);
  height: auto;
}
.profile_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 89px 93px 121px 0;
}
.profile_text h3 {
  font-size: 6rem;
  text-align: left;
  width: 100%;
  margin-bottom: 27px;
}
.profile_text p {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
}
.profile_text p:last-child {
  margin-bottom: 0;
}

/* ---- スキル ---- */
#skills {
  width: 75%;
  margin: 0 auto 110px;
  max-width: 1150px;
  min-width: 1000px;
  box-shadow: 0 10px 10px rgba(200, 200, 200, .5);
}

.skills_flex {
  display: flex;
  justify-content: center;
  column-gap: 5%;
}
.skills_container {
  width: 25%;
}

#skills h3 {
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 20px;
}

#skills p {
  font-size: 2rem;
  margin-top: 20px;
}
#skills p:last-child {
  margin-top: 10px;
}

.skills_item {
  height: 600px;
}
/* ---- 実績 ---- */
#works {
  width: 75%;
  max-width: 1150px;
  min-width: 1000px;
  margin: 0 auto 110px;
  box-shadow: 0 10px 10px rgba(200, 200, 200, .5);
}
#works .section_container {
  display: block;
}

.works_grid {
  display: grid;
  grid-template-areas: "head head head"
                       "box1 box2 box3";
  column-gap: 10%;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 40px;
}
#hobby {
  margin-bottom: 0;
}
.works_grid h3 {
  grid-area: head;
  margin-bottom: 20px;
}

.works_grid a {
  width: 100%;
  border-radius: 20px;
  box-shadow: 5px 5px 15px #9E9E9E;
}
.works_grid img {
  border-radius: 20px;
}

.image1 {
  grid-area: box1;
}
.image2 {
  grid-area: box2;
}
.image3 {
  grid-area: box3;
}

#works h3 {
  font-size: 3.5rem;
  white-space: nowrap;
  text-align: center;
}

/* ---- フッター ---- */
footer {
  height: 300px;
  background-color:#ffeb00;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 14px;
}
footer h2 {
  font-size: 6rem;
}
footer h3 {
  font-size: 4rem;
}

/* ---- レスポンシブ　スマホ ---- */

@media screen and (max-width: 950px) {

  /* ----共通---- */
  html {
    background-color: #fff;
  }

  /* ----ヘッダー---- */
  header {
    height: 50px;
    font-size: 2rem;
  }
  header img {
    display: none;
  }
  header span {
    display: block;
  }

  /* ----プロフィール---- */
  #profile {
    width: 90%;
    box-shadow: none;
    min-width: auto;
    margin: 45px auto 80px;
  }

  .section_header {
    height: auto;
    padding-top: 0;
    background-color: #fff;
    font-size: 5rem;
    border-radius: 0;
  }

  .section_container {
    flex-direction: column;
    padding: 20px 0 20px 0;
  }
  .section_container {
    border-radius: 0 0 20px 20px;
    padding: 10px 0 0 0;
  }
  .img_container {
    padding: 0;
    margin: 10px 0 15px;
  }
  #profile_img {
    border-radius: 15px;
  }
  .profile_text {
    width: 100%;
    padding: 0;
  }
  .profile_text h3 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 10px;
  }
  .profile_text p {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  /* ----スキル---- */
  #skills {
    width: 90%;
    margin: 0 auto 80px;
    min-width: auto;
    box-shadow: none;
  }

  .skills_flex {
    height: auto;
    display: block;
  }
  .skills_container {
    width: 100%;
  }
  .skills_text {
    width: 70%;
    margin: 0 auto 25px;
    text-align: left;
  }
  #skills h3 {
    font-size: 2rem;
    margin-top: 0px;
    margin-bottom: 10px;
  }
  #skills p {
    font-size: 1.6rem;
    margin-top: 10px;
  }
  #skills p:last-child {
    margin-top: 0;  
  }

  #skills img {
    width: 40%;
    margin: 0 auto;
    display: block;
  }
  
  .skills_item {
    height: auto;
  }

  /* ----実績---- */
  #works {
    width: 90%;
    min-width: auto;
    box-shadow: none;
  }
  .works_grid {
    grid-template-areas: "head"
                         "box1"
                         "box2"
                         "box3";
  }
  #works h3 {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .works_grid a {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  /* ----フッター---- */
  footer {
    height: 142px;

  }
  footer h2 {
    font-size: 3rem;
  }
  footer h3 {
    font-size: 1.5rem;
  }
}
